﻿@model MvcMovie.Models.Movie
@{
    ViewBag.Title = "Delete a Film";
}

<h2>Delete</h2>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
@using (Html.BeginForm("Delete", "Film", FormMethod.Post))
{
    <div>
        <h4>Film</h4>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)
        <p class="text-danger">@ViewBag.Error</p>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => m.Title)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.ReleaseDate)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.ReleaseDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.Genre)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Genre)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.Price)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.Rating)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Rating)
            </dd>
        </dl>

    </div>
    <div>
        <input type="submit" name="Delete" value="Delete" class="btn btn-primary" />
        | @Html.ActionLink("Back to list", "Index")
    </div>


}
