﻿@model MvcMovie.Models.Movie
@{
    ViewBag.Title = "Detail a Film";
}

<h2>Detail</h2>
<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.Title)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Price)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Rating)
        </dd>
    </dl>
</div>
<p>
    @if (Model != null)
    {
        @Html.ActionLink("Edit | ", "Edit", new { id = Model.ID })}

    @Html.ActionLink("Back to list", "Index")
</p>
