﻿@model MvcMovie.Models.Movie
@{
    ViewBag.Title = "Edit Film";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Film</h4>
        <hr />
        @Html.HiddenFor(m => m.ID)
        <p class="text-danger">@ViewBag.Error</p>
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "control-lable col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ReleaseDate, new { @class = "control-lable col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ReleaseDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Genre, new { @class = "control-lable col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Genre, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Price, new { @class = "control-lable col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Rating, new { @class = "control-lable col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Rating, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Rating, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="edit" value="Edit Fim" class="btn btn-primary" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to list", "Index")
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")


}

