﻿@model IEnumerable<MvcMovie.Models.Movie>
@{
    ViewBag.Title = "Index Film";

}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create Film", "Create")
</p>
@using (Html.BeginForm("Index", "Film", FormMethod.Get))
{
    <div class="form-group clearfix">
        <div class="col-md-3">
            <p> Genre: </p>
            @Html.DropDownList("filmGenre", null, "All", new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <p>Title: </p>
            @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />
        </div>
        <div class="col-md-3 ">
            <p>&nbsp;</p>
            <input type="submit" value="Filter" class="btn btn-primary " />
        </div>
    </div>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Genre)
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @Html.DisplayFor(m => item.Rating)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |

                    @Html.ActionLink("Detail", "Detail", new { id = item.ID }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>
